.main-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 4rem 1fr;
    --panel-background: #d8d8d8;
    --panel-border: 1px solid #333;
    height: 100vh;
}

.main-layout header {
    grid-row: 1;
    grid-column: 1 / span 2;
    padding: 1rem;
}

.main-layout .file-list {
    color: black;
    border: var(--panel-border);
    grid-column: 1;
}

li .file-item {
    color: #333;
}
li:hover .file-item {
    color: white;
}
li.selected .file-item {
    color: white;
}

.main-layout .page-list {
    border: var(--panel-border);
    background-color: var(--panel-background);
    grid-column: 1;
}

.main-layout .editor {
    border: var(--panel-border);
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 2;
}

